<table>
  <thead>
    <tr>
      <th>{{i18n "discourse_automation.models.automation.name.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.trigger.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.script.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.last_updated_at.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.last_updated_by.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.enabled.label"}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |automation|}}
      {{#if automation.script.not_found}}
        <tr>
          <td colspan="7" class="alert alert-danger">
            {{i18n "discourse_automation.scriptables.not_found" script=automation.script.id automation=automation.name}}
          </td>
        </tr>
      {{else if automation.trigger.not_found}}
        <tr>
          <td colspan="7" class="alert alert-danger">
            {{i18n "discourse_automation.triggerables.not_found" trigger=automation.trigger.id automation=automation.name}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>{{automation.name}}</td>
          {{#if automation.trigger}}
            <td>{{automation.trigger.name}}</td>
          {{/if}}
          <td>{{automation.script.name}} (v{{automation.script.version}})</td>
          <td>{{format-date automation.updated_at}}</td>
          <td>
            <a href={{automation.last_updated_by.userPath}} data-user-card={{automation.last_updated_by.username}}>
              {{avatar automation.last_updated_by imageSize="small"}}
            </a>
          </td>
          <td>{{format-enabled-automation automation.enabled}}</td>
          <td>
            {{d-button
              icon="pencil-alt"
              action=(action "editAutomation" automation)
            }}
          </td>
          <td>
            {{d-button
              icon="trash-alt"
              class="btn-danger"
              action=(action "destroyAutomation" automation)
            }}
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
