<div class="field control-group">
  <Fields::DaFieldLabel @label={{label}} @field={{field}} />

  <div class="controls">
    <ComboBox
      @value={{field.metadata.value}}
      @content={{replacedContent}}
      @onChange={{action (mut field.metadata.value)}}
      @options={{hash allowAny=false clearable=true disabled=field.isDisabled}}
    />

    <Fields::DaFieldDescription @description={{description}} />
  </div>
</div>