<section class="field category-notification-level-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <CategoryNotificationsButton
        @value={{field.metadata.value}}
        @onChange={{action (mut field.metadata.value)}}
      />

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>