<section class="field date-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <div class="controls-row">
        <Input
          @type="datetime-local"
          @value={{readonly localTime}}
          @input={{action "convertToUniversalTime" value="target.value"}}
          @disabled={{field.isDisabled}}
        />

        {{#if field.metadata.value}}
          <DButton
            @icon="trash-alt"
            @action={{action (mut field.metadata.value) value=null}}
            @disabled={{field.isDisabled}}
          />
        {{/if}}
      </div>

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>