<section class="field group-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <GroupChooser
        @content={{allGroups}}
        @value={{field.metadata.value}}
        @labelProperty="name"
        @onChange={{action "setGroupField"}}
        @options={{hash maximum=1 disabled=field.isDisabled}}
      />

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>