<section class="field message-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <div class="field-wrapper">
        <Textarea
          @value={{field.metadata.value}}
          @input={{action (mut field.metadata.value) value="target.value"}}
          @disabled={{field.isDisabled}}
        />

        <Fields::DaFieldDescription @description={{description}} />

        {{#if displayPlaceholders}}
          <PlaceholdersList
            @currentValue={{field.metadata.value}}
            @placeholders={{placeholders}}
          />
        {{/if}}
      </div>
    </div>
  </div>
</section>