<section class="field category-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <MultiSelect
        @value={{field.metadata.value}}
        @content={{allTrustLevel}}
        @onChange={{action (mut field.metadata.value)}}
      />

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>