<section class="field user-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <UserChooser
        @value={{field.metadata.value}}
        @onChange={{action "onChangeUsername"}}
        @options={{hash
          maximum=1
          excludeCurrentUser=false
          disabled=field.isDisabled
        }}
      />

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>